<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>address</key>
	<string>http://hc-papercut/Lab_Printer_at_20</string>
	<key>default_catalog</key>
	<string>development</string>
	<key>display_name</key>
	<string>Lab Printer 1</string>
	<key>location</key>
	<string>Computer Lab</string>
	<key>name</key>
	<string>Settings for Lab Printer 20</string>
	<key>options</key>
	<array>
		<string>job-sheets=none,none</string>
		<string>media=na_letter_8.5x11in</string>
		<string>sides=two-sided-long-edge</string>
	</array>
	<key>ppd</key>
	<string>/Library/Printers/PPDs/Contents/Resources/HP LaserJet 600 M601 M602 M603.gz</string>
	<key>queue_name</key>
	<string>LabPrinter20</string>
	<key>requires</key>
	<array>
		<string>norequirements</string>
	</array>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
