<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>address</key>
	<string>172.27.219.1</string>
	<key>default_catalog</key>
	<string>testing</string>
	<key>display_name</key>
	<string>Gardens Sharp</string>
	<key>location</key>
	<string>Gardens Copier Room</string>
	<key>name</key>
	<string>Settings for Gardens Sharp</string>
	<key>options</key>
	<array>
		<string>ARCMode=CMBW</string>
		<string>Option6=Installed</string>
		<string>Option1=Finisher</string>
		<string>Option9=PModule33</string>
	</array>
	<key>ppd</key>
	<string>/Library/Printers/PPDs/Contents/Resources/SHARP MX-M654N.PPD.gz</string>
	<key>queue_name</key>
	<string>SharpMX-M654N</string>
	<key>requires</key>
	<array>
		<string>Sharp Driver MX-C37</string>
	</array>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
