<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>address</key>
	<string>172.27.56.19</string>
	<key>default_catalog</key>
	<string>testing</string>
	<key>display_name</key>
	<string>Little Printer HP P2055</string>
	<key>location</key>
	<string>Little Printer</string>
	<key>name</key>
	<string>Settings for LittleHPP2055</string>
	<key>options</key>
	<array>
		<string>landscape</string>
		<string>media=A4</string>
	</array>
	<key>ppd</key>
	<string>/Library/Printers/PPDs/Contents/Resources/HP LaserJet P2055.gz</string>
	<key>queue_name</key>
	<string>HPP2055-Little</string>
	<key>requires</key>
	<array>
		<string>norequirements</string>
	</array>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
